* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1280px;
    margin: 0 auto;
}

.mainheader {
    height: 69px;
    padding-bottom: 100px;
    color: #000;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: black;
}

.headergradient {
    color: #4BCAFF;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header-wrapper {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.headernav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 1280px;
    height: 74px;
    background-color: #35444F;
}
.headermenulist {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.headermenuitem {
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 26px;
    box-sizing: border-box;
    padding-bottom: 18px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.headermenuitem a {
    text-decoration: none;
    color: #FFFFFF;
}
.headermenuitem:hover {
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 26px;
    box-sizing: border-box;
    padding-bottom: 18px;
    background-color: #222F3A;
}

.mainwrapper {
    display: flex;
    justify-content: space-between;
}
.leftmenu {
    margin-top: 2rem;
    margin-right: 3rem;
    padding-top: 0;
    color: #485863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    width: 344px;
    height: 399px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.00);
    padding-bottom: 26px;
}
.leftmenulist {
    margin: 0;
    list-style: none;
}
.leftmenuitems {
    padding-left: 42px;
    padding-top: 26px;
    padding-bottom: 26px;
}
.leftmenuitems a {
    text-decoration: none;
    color: #485863;
}
.leftmenuitems:hover {
    background-color: #DBDBDB;
    padding-left: 70px;
}
.imagemain {
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 27px;
    width: 885px;
    height: 529px;
}
.mainimage {
    text-align: center;
    transition: 1s;
    display: block;
    width: 100%;
    height: 100%;
}
.mainimage:hover {
    transform: scale(1.2);
}
.maintext {
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.maincontent {
    margin-bottom: 54px;
}
footer {
    margin-bottom: 10px;
}
.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerwrap {
    display: flex;
    width: 1280px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    align-items: center;
}
.footerlist {
    display: flex;
    list-style: none;
    justify-content: space-around;
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.footerlistitem {
    padding-left: 20px;
    padding-right: 10px;
}
.footerlist a {
    height: 20px;
    text-decoration: none;
    color: #0C1927;
}
.footerlist a:hover {
    border-bottom: 1px solid #3181A6;
    color: #3181A6;
}
.footertext {
    color: #010101;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 140px;
    padding-right: 35px;
}
body {
    background-color: white;
    color: black;
}


body.dark-theme {
    background-color: black;
    color: white;
}


.mainheader.dark-theme,
.headergradient.dark-theme {
    color: white;
}

.headermenulist a.dark-theme,
.leftmenulist a.dark-theme,
.footerlist a.dark-theme {
    color: white;
}